/* Normalize styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --primary-color: #1800cc;
    --secondary-color: #006eff;
    --tertiary-color: #aaaaaa;
    --white-color: #ffffff;
   
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    width: 60%;
    margin: 0 auto;
  }
  
  p {
    text-decoration: none;
  }
  
 
  /* Header*/
  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 25px 0;
  }
  
  .totalscore a,
  .timer {
    font-size: 20px;
  }
  
  .totalscore p {
    color: var(--secondary-color);
    cursor: pointer;
  }
  
  .totalscore p:hover {
    color: var(--tertiary-color);
  }
  
  /* Start Quiz */
  .startquiz {
    text-align: center;
  }
  
  h1 {
    margin-bottom: 10px;
  }

  #introduction {
    text-align: center;
  }
  
 
  
  
  /* Buttons */

  
  button {
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    width: auto;
    overflow: visible;
    padding: 10px;
    background-color: var(--primary-color);
    border-radius: 10px;
    font-size: large;
    margin: 10px;
    color: var(--white-color);
    cursor: pointer;

  }
  
  button:hover {
    background-color: var(--secondary-color);
  }
  
  .hide {
    display: none;
  }
  
 

  
  /* Wrapper for buttons */
  .controlbuttons { 
    justify-content: center;
    align-items: center;
    margin: 10px 0;
  }
  
  /* Enter your initial */
  input[type="text"] {
    padding: 10px;
    margin: 8px 0;
    border: 1px solid var(--tertiary-color);
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  /* Highscores Page */

  .highscore {
    
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column;
  }
  .highscore ol li{
      text-align: left;

  }

 
  
  /*** MEDIA QUERY FOR MOBILE PHONES AND SMALLER ***/
  /* this will be applied on any screen smaller than 575px */
  @media screen and (max-width: 575px) {
    .btn-grid {
      grid-template-columns: repeat(1, auto);
      gap: 0;
      margin: 0;
    }
  }